<div class="my-account-address col-sm-12 d-flex flex-wrap p-2">
    <div class="col-sm-12 col-md-10 d-flex flex-wrap mx-auto" *ngIf="!showForm && userAddresses.length" >
        <button class="btn btn-outline-success" (click) = "showAddForm()">
            Add New Address
        </button>
    </div>
    <div *ngIf="showForm" class="col-sm-12 d-flex flex-wrap add-address-section">
        <form class="m-auto py-3 px-1" id="frm-add-address" [formGroup] = "userAddressForm" (ngSubmit) = "submitAddress(userAddressForm)">
            <div class="col-sm-12 d-flex flex-wrap">
                <button class="btn btn-outline-danger ml-auto mr-0 text-center text-uppercase rounded-circle" style="width: 35px; height: 35px;" (click)="closeForm()">
                    <i class="fas fa-times p-0"></i>
                </button>
            </div>
            <h3 class="col-sm-12 text-center text-capitalize py-2">
                {{ isCreate ? 'Add An' : 'Update' }} Address
            </h3>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="sr-only" for="userFirstName">First Name</label>
                    <input type="text" class="form-control" id="userFirstName" placeholder="First Name" autocomplete="given-name" autofocus formControlName="first_name"  required>
                </div>
                <div class="form-group col-md-6">
                    <label class="sr-only" for="userLastName">Last Name</label>
                    <input type="text" class="form-control" id="userLastName" placeholder="Last Name" autocomplete="family-name" formControlName="last_name"  required>
                </div>
            </div>
            <div class="form-group">
                <label class="sr-only" for="userAddress">Address</label>
                <input type="text" class="form-control" id="userAddress" placeholder="eg No 9 Address" autocomplete="street-address" formControlName="address"  required>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="sr-only" for="userAddressState">City</label>
                    <input type="text" class="form-control" id="userAddressCity" placeholder="eg City" formControlName="address_city"  required>
                </div>
                <div class="form-group col-md-4">
                    <label class="sr-only" for="userAddressState">State</label>
                    <input type="text" list="address-states" class="form-control" id="userAddressState" placeholder="eg State" (change)="getCorrectStateLGA($event)" formControlName="address_state"  required>
                    <datalist id="address-states">
                        <option [value]="state.name" *ngFor="let state of states">
                    </datalist>
                </div>
                <div class="form-group col-md-4">
                    <label class="sr-only" for="userAddressState">LGA</label>
                    <input type="text" list="address-state-lga" class="form-control" id="userAddressLGA" placeholder="eg LGA" [class.disabled] = "!LGA.length" formControlName="address_lga" (change)="confirmCorrectLGA($event)"   required>
                    <datalist id="address-state-lga">
                        <option [value]="lga.name" *ngFor="let lga of LGA">
                    </datalist>
                </div>
            </div>
            <div class="form-group">
                <label class="sr-only" for="userAddress">Phone Number</label>
                <input type="tel" class="form-control" id="userPhoneNumber" placeholder="234" autocomplete="tel" formControlName="phone"  required>
            </div>
            <div class="d-flex flex-wrap col-sm-12 col-md-6 m-auto">
                <button *ngIf="isCreate" type="submit" class="btn btn-outline-dark mx-auto mb-2" [disabled]="userAddressForm.invalid || userAddressForm.pristine">
                    Add Address
                </button>
                <button *ngIf="!isCreate" type="submit" class="btn btn-outline-dark mx-auto mb-2" [disabled]="userAddressForm.invalid">
                    Update Address
                </button>
                <button type="button" class="btn btn-outline-danger mx-auto mb-2" (click)="cancelForm()">
                    Cancel
                </button>
            </div>
        </form>
    </div>
    <div class="col-sm-12 d-flex flex-wrap user-addresses-section" *ngIf="!showForm">
        <div *ngIf="!showPreloader" class="col-sm-12 d-flex flex-wrap p-0">
            <div class="col-sm-12 d-flex flex-wrap py-3 my-2 p-0" *ngIf="userAddresses.length">
                <div class="card mr-2" style="width: 18rem;" *ngFor="let address of userAddresses">
                    <div class="card-body">
                    <h5 class="card-title">{{ address.first_name }}  {{ address.last_name }}</h5>
                    <p class="card-text">{{ address.address }}, {{ address.city }}.</p>
                    <p class="card-subtitle mb-2">{{ getLgaNameFromState(address.state_id, address.lga_id) }}, {{ getStateName(address.state_id) }}.</p>
                    <div class="col-sm-12 text-right p-2">
                        <button type="button" class="btn btn-outline-dark border-0 m-2" title="Edit this address" (click)="editAddress(address)">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                        <button type="button" class="btn btn-outline-danger border-0 m-2" title="Delete this address" (click)="deleteAddress(address)">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 col-md-6 d-flex flex-wrap mx-auto" *ngIf="!userAddresses.length">
                <div class="no-result">
                    <div class="col-sm-12 col-md-10 mx-auto d-flex p-3">
                        <span class="m-auto">
                            <i class="fas fa-search-location m-auto p-0"></i>
                        </span>
                    </div>
                    <div class="col-sm-12 col-md-10 mx-auto p-3 d-flex flex-wrap">
                        <p class="mx-auto w-100 col-sm-12 text-center text-capitalize p-2">
                            No Address found
                        </p>
                        <button class="btn btn-outline-dark m-auto" (click)="showAddForm()">
                            Click Here to Add An Address
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="preloader col-md-12 py-5 px-2" *ngIf="showPreloader">
            <div class="d-flex flex-wrap mx-auto my-2">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: rgb(255, 255, 255); display: block; shape-rendering: auto;" width="200px" height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                    <circle cx="50" cy="50" fill="none" stroke="#ffd9e8" stroke-width="10" r="35" stroke-dasharray="164.93361431346415 56.97787143782138" transform="rotate(340.749 50 50)">
                      <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;360 50 50" keyTimes="0;1"></animateTransform>
                    </circle>
                    <!-- [ldio] generated by https://loading.io/ -->
                </svg>
            </div>
        </div>
    </div>
</div>
