<form id="frm-login" autocomplete="on" class="d-flex flex-wrap">
    <div class="form-group col-sm-12 p-0">
        <label class="sr-only" for="userEmail">Email Address</label>
        <input type="email" class="form-control" id="userEmail" placeholder="Email Address" autocomplete="email">
    </div>
    <div class="form-group col-sm-12 p-0">
        <label class="sr-only" for="userPassword">Password</label>
        <input type="password" class="form-control" id="userPassword" placeholder="Password" autocomplete="current-password">
    </div>
    <button type="submit" class="text-center col-sm-12 p-2">Sign In</button>
    <a [routerLink]='"/user/forgot-password"' class="forgot-pasword my-2 ml-auto text-dark">Forgot Password?</a>
</form>