<form id="frm-login" autocomplete="on">
    <div class="form-group">
        <label class="sr-only" for="userEmail">Email Address</label>
        <input type="email" class="form-control" id="userEmail" placeholder="Email Address" autocomplete="email">
    </div>
    <div class="form-group">
        <label class="sr-only" for="userPassword">Password</label>
        <input type="password" class="form-control" id="userPassword" placeholder="Password" autocomplete="current-password">
    </div>
    <button type="submit" class="text-center col-sm-12 p-2">Sign In</button>
</form>