<div>
    <div class="home-banner">
        <p class="home-banner__title">Lorem Lorem Lorem <br> Lorel Lorem Lorem </p>
        <p class="home-banner__content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Eu, sagittis sit posuere cursus. Proin ac cursus mauris, dictum.
            Id faucibus netus sed dolor sapien ullamcorper.
        </p>
        <button class="home-banner__shop-now">Shop Now</button>
    </div>
    <category-thumbnail></category-thumbnail>
    <shared-product-lists-widget [theProducts] = 'popularProducts' [widgetTitle]='"Popular Products"'></shared-product-lists-widget>
    <testimonial></testimonial>
    <newsletter-subscription></newsletter-subscription>
</div>