<div class="py-3" *ngIf="!showPreloader">
  <div class="col-sm-12 py-3 px-0 d-flex flex-wrap" *ngIf="orderStatus">
    <span class="svg">
      <svg width="80%" height="80%" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 507.2 507.2" style="margin: auto; enable-background:new 0 0 507.2 507.2;" xml:space="preserve">
        <circle style="fill:#32BA7C;" cx="253.6" cy="253.6" r="253.6"/>
        <path style="fill:#0AA06E;" d="M188.8,368l130.4,130.4c108-28.8,188-127.2,188-244.8c0-2.4,0-4.8,0-7.2L404.8,152L188.8,368z"/>
        <g>
        <path style="fill:#FFFFFF;" d="M260,310.4c11.2,11.2,11.2,30.4,0,41.6l-23.2,23.2c-11.2,11.2-30.4,11.2-41.6,0L93.6,272.8
          c-11.2-11.2-11.2-30.4,0-41.6l23.2-23.2c11.2-11.2,30.4-11.2,41.6,0L260,310.4z"/>
        <path style="fill:#FFFFFF;" d="M348.8,133.6c11.2-11.2,30.4-11.2,41.6,0l23.2,23.2c11.2,11.2,11.2,30.4,0,41.6l-176,175.2
          c-11.2,11.2-30.4,11.2-41.6,0l-23.2-23.2c-11.2-11.2-11.2-30.4,0-41.6L348.8,133.6z"/>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
      </svg>
    </span>
    <div class="col-sm-12 text-center">
      <h1 class="col-sm-12">Your order reference is <strong>{{orderReference}}</strong></h1>
    </div>
    <div class="col-sm-12 d-flex flex-wrap px-0 my-3">
      <a role="button" class="btn btn-success m-auto py-3" [routerLink] = "['/user/myaccount/orders']">
        Click Here to Go to your Order History
      </a>
    </div>
  </div>
  <div class="col-sm-12 px-0 d-flex flex-wrap" *ngIf="!orderStatus">
    <div class="col-md-12 text-center mx-auto">
      <h1 class="col-sm-12 px-0 text-danger">An Error Occurred</h1>
      <p class="col-sm-12 px-0">Kindly check your email for more information</p>
      <div class="col-sm-12 d-flex flex-wrap px-0 my-3">
        <a role="button" class="btn btn-danger m-auto py-3" [routerLink] = "['/user/myaccount/orders']">
          Click Here to Go to your Order History
        </a>
      </div>
    </div>
  </div>
</div>
<div class="preloader col-md-12 py-5 px-2" *ngIf="showPreloader">
  <div class="d-flex flex-wrap mx-auto my-2">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: rgb(255, 255, 255); display: block; shape-rendering: auto;" width="200px" height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
      <circle cx="50" cy="50" fill="none" stroke="#ffd9e8" stroke-width="10" r="35" stroke-dasharray="164.93361431346415 56.97787143782138" transform="rotate(340.749 50 50)">
        <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;360 50 50" keyTimes="0;1"></animateTransform>
      </circle>
      <!-- [ldio] generated by https://loading.io/ -->
    </svg>
  </div>
</div>
