<div class="my-account-orders col-sm-12 d-flex flex-wrap p-2" *ngIf="!showPreloader">
    <div class="col-sm-12 d-flex flex-wrap py-3 my-2 orders" *ngIf="userOrders.length">
      <div class="col-sm-10 d-flex flex-wrap order mb-4 mx-auto py-2" *ngFor="let order of userOrders; let i = index">
        <app-collapsible-component class="col-sm-12 p-0">
          <div well-title>
            <div class="order-date col-sm-12 text-right p-0">
              <p class="col-sm-12 d-flex flex-wrap p-0">
                <span class="mr-0 ml-auto">
                  {{order.created_at | date:'longDate'}}
                </span>
              </p>
            </div>
            <div class="col-sm-12 d-flex flex-wrap px-0">
              <p class="order-ref col-sm-12 col-md-6 p-0 text-left ml-0 mr-auto">
                Ref Code: <span>{{order.id}}</span>
              </p>
              <p class="order-amt col-sm-12 col-md-6 p-0 text-right mr-0 ml-auto">
                Total Amount: <span>{{order.cost | currency:"NGN":"₦"}}</span>
              </p>
            </div>
            <div class="col-sm-12 p-0">
              <p class="text-left">
                Address: <span>{{order.address.address}}</span>
              </p>
            </div>
          </div>
          <div well-body *ngIf="order.items.length">
            <div class="order-items col-sm-12 p-0 d-flex flex-wrap">
              <div class="order-product-title">
                <p class="title-detail">Product</p>
                <p class="title-price">Price</p>
                <p class="title-quantity">Quantity</p>
                <p class="title-total">Total</p>
              </div>
              <div class="d-flex flex-wrap order-product-container">
                <div class="order-item-detail" *ngFor="let item of order.items">
                  <div class="order-item-img-name-container">
                    <div class="d-flex flex-wrap">
                      <img src="{{item?.images[0]?.thumbnail || '/assets/images/product-1.png' }}" alt="image of {{ 'item.produc' }}">
                      <a [routerLink]='["/product", item?.id]' class="order-item-name text-capitalize">
                        {{ item?.product }}
                      </a>
                    </div>
                  </div>
                  <div class="order-item-price-container">
                      <p class="order-item-current">
                        {{ item?.amount | currency:"NGN":"₦" }}
                      </p>
                  </div>
                  <div class="order-item-quantity-container">
                    <p class="col-sm-12 p-0">
                      {{item?.quantity}}
                    </p>
                  </div>
                  <div class="order-item-total-container">
                    <p class="order-item-total">
                      {{ (item?.amount * item?.quantity) | currency:"NGN":"₦" }}
                    </p>
                  </div>
              </div>
              </div>
            </div>
          </div>
        </app-collapsible-component>
      </div>
    </div>
    <div class="col-sm-10 col-md-6 d-flex flex-wrap mx-auto py-3 px-0" *ngIf="!userOrders.length">
        <div class="no-result">
            <div class="col-sm-12 col-md-10 mx-auto d-flex p-3">
                <span class="m-auto text-success">
                    <i class="fas fa-file-invoice"></i>
                </span>
            </div>
            <div class="col-sm-12 col-md-10 mx-auto p-3 d-flex flex-wrap">
                <p class="mx-auto w-100 col-sm-12 text-center text-capitalize p-2">
                    No Order found
                </p>
                <button role="link" class="btn btn-outline-success m-auto border-0" [routerLink]="['/shop']">
                    Click Here to Explore Our Amazing Offers
                </button>
            </div>
        </div>
    </div>
</div>
<div class="preloader col-md-12 py-5 px-2" *ngIf="showPreloader">
    <div class="d-flex flex-wrap mx-auto my-2">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: rgb(255, 255, 255); display: block; shape-rendering: auto;" width="200px" height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
            <circle cx="50" cy="50" fill="none" stroke="#ffd9e8" stroke-width="10" r="35" stroke-dasharray="164.93361431346415 56.97787143782138" transform="rotate(340.749 50 50)">
              <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;360 50 50" keyTimes="0;1"></animateTransform>
            </circle>
            <!-- [ldio] generated by https://loading.io/ -->
        </svg>
    </div>
</div>
