@import './../../app.component.scss';

.my-account_profile{
   #frm-userDetail{
    fieldset[disabled]{
        // background: chartreuse;
        input[type = 'text'], input[type = 'email'], input[type = 'tel'], select {
            background: #fff !important;
            border: 1px solid rgba(0,0,0,0.05);
        }

        button {
            display: none;
        }
    }

    label{
        font-weight: bold;
    }
  } 
}