$smokeyWhite: #F5F4F4;

@mixin flexWrap {
    display: flex;
    flex-wrap: wrap;
}

@mixin maxWidth {
    width: 100%;
    max-width: 100%;
}

@mixin maxWidthFlexWrap {
    @include flexWrap();
    @include maxWidth();
}

body{
    @include maxWidthFlexWrap();
    font-size: 16px;
}

h2.pg-section__title{
    font-size: 1.875em;
}