<nav class="navbar">
    <button class="navbar-btn__toggle">
        <span></span>
    </button>
    <a class="navBar__brand" href="">
        <img src="" alt="" class="navBar__brand-icon">
    </a>
    <div class="navbar-items__container collapse">
        <ul class="navBar__items">
            <li class="navBar__item">
                <a class="navBar__link">
                    <i class="navBar__icon"></i>
                    <span class="navBar__title">Home</span>
                </a>
            </li>
            <li class="navBar__item">
                <a class="navBar__link">
                    <i class="navBar__icon"></i>
                    <span class="navBar__title">Shop</span>
                </a>
            </li>
            <li class="navBar__item">
                <a class="navBar__link">
                    <i class="navBar__icon"></i>
                    <span class="navBar__title">About</span>
                </a>
            </li>
            <li class="navBar__item">
                <a class="navBar__link">
                    <i class="navBar__icon"></i>
                    <span class="navBar__title">Contact</span>
                </a>
            </li>
        </ul>
    </div>
    <div>
        <div>
            <form id="nav-search">
                <label for="nav-search-value"></label>
                <input id="nav-search-value" name="nav-search-value" type="text">
                <button class="navBar-btn__search">
                    <span>
                        <i class="fas fa-search"></i>                         
                    </span>
                </button>
            </form>
        </div>
        <button class="navBar-btn__wishlist">
            <span>
                <i class="far fa-heart"></i>
            </span>
        </button>
        <button class="navBar-btn__cart">
            <span>
                <i class="fas fa-shopping-cart"></i>                 
            </span>
        </button>
        <button class="navBar-btn__user">
            <span>
                <i class="far fa-user"></i>                 
            </span>
        </button>
        <div class="navBar-btn__user-dropdown">
            <ul class="navBar-btn__user-auth-options">
                <li class="navBar-btn__user-auth-option">
                    <a href="">Login</a>
                </li>
                <li class="navBar-btn__user-auth-option">
                    <a href="">Register</a>
                </li>
            </ul>
            <a class="navBar-btn__user-account" href="">My Account</a>
        </div>
    </div>
</nav>