<div class="policy-page">
  <h1 class="policy-page__title">Return Policy</h1>
  <div class="policy-page__section">
    <h2 class="policy-page__section-title">How do i return?</h2>
    <div class="policy-page__section-content">
      <p>
        To return damaged or quality deficient products please send an email to <a rel="noopener" target="_blank"
          href="mailto:sophiesbnbessentials@gmail.com" title="email">sophiesbnbessentials@gmail.com</a> with your
        complaints.
      </p><br>
      <p>
        An investigation will be conducted to determine if the complaint is valid for a refund/return.
      </p>
    </div>
  </div>
  <div class="policy-page__section">
    <h2 class="policy-page__section-title">You received a damage or incomplete order?</h2>
    <div class="policy-page__section-content">
      <p>
        To lay a complaint about damaged or incomplete orders please send an email to sophiesbnbessentials@gmail.com. A
        customer care representative will attend to, and help resolve any issues.
      </p>
    </div>
  </div>
  <div class="policy-page__section">
    <h2 class="policy-page__section-title">What if I complain after the 7 days return timeframe has elapsed?</h2>
    <div class="policy-page__section-content">
      <p>
        Because we run a personal care business which means that all our products are personal and very intimate; we
        unfortunately can’t attend to complaint that have passed the 7 day time frame.
      </p>
    </div>
  </div>
</div>
