@import './../../../app.component.scss';

.reviews{
  .review{
    border-bottom: 1px solid rgba($placeHolderAsh, 0.25);
    padding: 1em 0.75em;

    .review-rating{
      font-size: 0.9em;
      color: $limeGreen;
    }

    .review-summary{
      font-size: 1.5em;
      font-weight: bold;
    }

    .reviewBy{
      font-size: 0.75em;
    }

    &:last-child{
      border: 0;
    }

    .can-edit-wrapper {
      button {
        margin-left: 15px;

        &.btn-can-edit {
          @include invertOnHover(#fff, $success);
        }

        &.btn-can-delete {
          @include invertOnHover(#fff, $danger);
        }

        svg {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}

form{
  .rating-section{
    label{
      @include flexWrap();
      padding: 0.25em;
      padding-left: 0;
      width: 45px;
      margin-right: 0.375em;

      input{
        margin: auto 0.25em;
      }
    }
  }
}

.frm-title {
  font-size: 2em;
  font-weight: bold;
}
