<footer>
    <div class="footer-sections">
        <div class="footer-section">
            <img src="" alt="" class="footer-icon">
        </div>
        <div class="footer-section">
            <p class="footer-section__title">About Sophie’s</p>
            <ul class="footer-section__list-items">
                <li class="footer-section__list-item"><a>About us</a></li>
                <li class="footer-section__list-item"><a>Terms & Conditions</a></li>
                <li class="footer-section__list-item"><a>Privacy Policy</a></li>
                <li class="footer-section__list-item"><a>Return Policy</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <p class="footer-section__title">About Sophie’s</p>
            <ul class="footer-section__list-items footer__social-media-links">
                <li class="footer__social-media-link" *ngFor="let social of socialMedia">
                    <a href="{{social?.link}}" title="{{social?.name}}">
                        <i class="{{social?.icon}}"></i>
                    </a>
                </li>
            </ul>
            <ul class="footer-section__list-items footer__contact-details">
                <li class="footer__contact-detail" *ngFor="let contact of contactDetails">
                    <a href="{{contact?.link}}" title="{{contact?.descriptiion}}">
                        <img src="{{contact?.icon}}" alt="icon for {{contact?.descriptiion}}"/>
                        <span>{{contact?.value}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-copyright-container">
        <p class="copyright">
            Sophie’s © 2019
        </p>
    </div>
</footer>