<div *ngIf="!showPreloader" class="product-details py-3">
    <div class="product-details__main m-auto">
        <div class="product-image-container">
            <img src="{{ product?.images[0]?.url ? product?.images[0]?.url  : '/assets/images/product-1.png' }}" alt="Image of {{ product?.name }}">
        </div>
        <div class="product-detail__info">
            <p class="product-detail__name text-capitalize">{{ product?.name }}</p>
            <p class="product-detail__price">
                <span class="promo_price">{{ (product.reduced_cost ? product.reduced_cost : product.cost) | currency:"NGN":"₦"}}</span>
                <span *ngIf="(product?.reduced_cost && product?.reduced_cost < product?.cost)" class="price">{{ product?.cost | currency:"NGN":"₦"}}</span>
                <span class="product-item__discount" *ngIf="(product?.reduced_cost && product?.reduced_cost < product?.cost)">
                    {{ ((product?.cost - product?.reduced_cost)/product?.cost) | percent:'1.2' }}
                </span>
            </p>
            <p class="product-detail__availibility">Availability:
                <span>
                    {{ product?.availibility ? "In Stock" : "Out of Stock" }}
                </span>
            </p>
            <p class="product-detail__rating" *ngIf="product?.avg_rating"  title="Product Rating of {{ product?.avg_rating }}">
                <span class="stars">
                    <!-- 1 star  -->
                    <i [class]="(product.avg_rating == 0) ? 'far fa-star' : (product.avg_rating > 0 && product.avg_rating < 1) ? 'fas fa-star-half-alt' : 'fas fa-star'"></i>

                    <!-- 2 star  -->
                    <i [class]="(product.avg_rating >= 2) ? 'fas fa-star' : (product.avg_rating > 1 && product.avg_rating < 2) ? 'fas fa-star-half-alt' : 'far fa-star'"></i>

                    <!-- 3 star  -->
                    <i [class]="(product.avg_rating >= 3) ? 'fas fa-star' : (product.avg_rating > 2 && product.avg_rating < 3) ? 'fas fa-star-half-alt' : 'far fa-star'"></i>

                    <!-- 4 star  -->
                    <i [class]="(product.avg_rating >= 4) ? 'fas fa-star' : (product.avg_rating > 3 && product.avg_rating < 4) ? 'fas fa-star-half-alt' : 'far fa-star'"></i>

                    <!-- 5 star  -->
                    <i [class]="(product.avg_rating >= 5) ? 'fas fa-star' : (product.avg_rating > 4 && product.avg_rating < 5) ? 'fas fa-star-half-alt' : 'far fa-star'"></i>
                </span>
                <span *ngIf="product?.ratings.length > 0">
                ({{ product?.ratings.length }} {{ product?.ratings.length > 1 ? "ratings" : "rating" }})
                </span>
            </p>
            <p class="product-detail__excerpt">{{ product?.excerpt }}</p> <!--Make this on click to nav to description?-->
            <div class="product-detial__add-to-cart">
                <form id="frm-product-add-to-cart" (submit)='addToCart($event, product, quantity)'>
                    <label for="frm-product-add-to-cart__amt">Quantity</label>
                    <div class="frm-product-add-to-cart__input-container">
                        <button type="button" class="frm-product-add-to-cart__btn-change-cart-amt" (click)="removeOne()" title="reduce the quantity of {{ product.name }} by 1">-</button>
                        <input type="number" aria-label="current product quantity" id="frm-product-add-to-cart__amt" min="1" [(ngModel)]="quantity" #qty="ngModel" name="quantity" required>
                        <button type="button" title="increase the quantity of {{ product.name }} by 1" class="frm-product-add-to-cart__btn-change-cart-amt" (click)="addOne()">+</button>
                    </div>
                    <button type="submit" title="click to add to cart" class="frm-product-add-to-cart__btn-submit">Add To Cart</button>
                    <button type="button" class="frm-product-add-to-cart__btn-wishlist" [title]="(isInWishList ? 'Remove From Favorite' : 'Add to Favorite')" (click)="toWishList()" [ngClass]="{'bg-danger': isInWishList}">
                      <i [ngClass]="isInWishList ? 'fas fa-times text-light': 'far fa-heart'"></i>
                    </button>
                </form>
            </div>
            <ul class="product-detail__tags" *ngIf="product?.tags.length">
                <span>Tags:</span>
                <li class="product-detail__tag" *ngFor="let tag of product?.tags">
                    <a>{{ tag.name }}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="product-details__desc-section col-md-12 m-auto">
        <div class="col-md-12 m-auto">
            <div class="product-details__desc-nav">
                <ul>
                    <li [class.active] = "!isReview">
                        <a type="button" (click)='showDescription()'>
                            Description
                        </a>
                    </li>
                    <li [class.active] = "isReview">
                        <a type="button" (click)='showReview()'>
                            Review (<span>{{ product?.ratings?.length }}</span>)
                        </a>
                    </li>
                </ul>
            </div>

            <div class=" col-md-8 m-auto py-2">
                <product-description *ngIf="!isReview" [title]="product?.name" [description]="product?.description"></product-description>

                <product-review *ngIf="isReview" [reviewsInput]="product?.ratings" [productId]="product?.id"></product-review >
            </div>
        </div>

        <shared-product-lists-widget *ngIf="relatedProducts.length" class="mx-auto" [widgetTitle]='"Related Products"' [theProducts]='relatedProducts'></shared-product-lists-widget>
    </div>
</div>
<div class="preloader col-md-12 py-5 px-2" *ngIf="showPreloader">
    <div class="d-flex flex-wrap mx-auto my-2">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: rgb(255, 255, 255); display: block; shape-rendering: auto;" width="200px" height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
            <circle cx="50" cy="50" fill="none" stroke="#ffd9e8" stroke-width="10" r="35" stroke-dasharray="164.93361431346415 56.97787143782138" transform="rotate(340.749 50 50)">
              <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;360 50 50" keyTimes="0;1"></animateTransform>
            </circle>
            <!-- [ldio] generated by https://loading.io/ -->
        </svg>
    </div>
</div>
