@import './../app.component.scss';

@keyframes iconBlink {
  from{
    box-shadow: none;
  }

  to {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4),
                -1px -1px 2px rgba(0, 0, 0, 0.4);
  }
}

.about-page{

  @mixin padArround($pX: 0, $pY: 1em) {
    padding: $pY $pX;
  }

  .header{
    $clr: #ffffff;
    background: $clr;
    $pX: 0;
    $pY: 1em;
    @include padArround($pX, $pY);

    h2{
      // font-weight: bold;
      font-size: 2em;

      &.widget-title{
        &::before{
          border-top: 1px solid $success;
        }

        span.widget-title-span-container{
          span{
            margin: auto;
            background-color: $clr;
          }
        }
      }
    }

    &::after{
      content: " ";
      background: linear-gradient(45deg, $clr 0 60%, $sophiePink 60% 80%, $success 80% 100%);
      width: 100%;
      height: 2em;
    }

  }

  .bg-Ash{
    // background: $smokeyWhite;
    background: $sweetWhiteSmokeBlue;
  }

  .core-values{
    @include padArround(0.5em, 1.5em);
    .card{
      width: 100%;
      max-width: 300px;
      margin: 1em auto;
      box-shadow: 1px 1px 2px rgba($color: #000000, $alpha: 0.15),
                  -1px -1px 2px rgba($color: #000000, $alpha: 0.15);

      .card-body{
        .card-title{
          @include padArround(0, 0.5em);
          font-size: 2.5em;

          i{
            $icd: 90px;
            padding: 0.5em;
            background-color: $success;
            color: #ffffff;
            border-radius: 100%;
            margin: auto;
            width: $icd;
            height: $icd;
            display: flex;
            flex-wrap: wrap;

            svg {
              height: 100%;
              width: 100%;

              &, * {
                fill: #ffffff;
              }
            }
          }
        }

        .card-subtitle{
          font-size: 1.5em;
          color: #000;
          text-transform: capitalize;
        }

        .card-text{
          color: $dark;
        }
      }

      &:nth-child(even){
        .card-body{
          .card-title{
            i{
              background-color: $sophiePink;

              svg {

                &, * {
                  fill: #000000;
                }
              }
            }
          }
        }
      }

      &:hover {
        // cursor: pointer;
        box-shadow: 2px 3px 4px rgba($color: #000000, $alpha: 0.15),
        -2px -3px 4px rgba($color: #000000, $alpha: 0.15);

        i {
          animation: iconBlink 1s;
          animation-iteration-count: infinite;
        }
      }
    }
  }
}
