/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/assets/fonts/proxima_nova_bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/proxima_nova_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}


@font-face {
    font-family: 'Proxima Nova';
    src: url('/assets/fonts/proxima_nova_extrabold-webfont.woff2') format('woff2'),
         url('/assets/fonts/proxima_nova_extrabold-webfont.woff') format('woff');
    font-weight: bolder;
    font-style: normal;

}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/assets/fonts/ proximanova-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@mixin flexWrap {
    display: flex;
    flex-wrap: wrap;
}

@mixin maxWidth {
    width: 100%;
    max-width: 100%;
}

@mixin maxWidthFlexWrap {
    @include flexWrap();
    @include maxWidth();
}

body{
    font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;
}

h2{
    &.pg-section__title, &.widget-title{
        font-size: 1.875em;
    }

    &.widget-title{
        @include maxWidthFlexWrap();
        text-align: center;

        &::before{
            position: relative;
            margin: auto;
            /* height: 1em; */
            margin-bottom: -40px;
            width: 90%;
            content: "";
            border-top: 1px solid;
            z-index: 0;
        }

        span.widget-title-span-container{
            z-index: 1;
            margin: auto;
            @include maxWidthFlexWrap();

            span{
                margin: auto;
                background-color: #fff;
                padding: 0.5em;
            }
        }
    }
}

//Style both return and privacy policy
.policy-page{
    width: 100%;
    max-width: 840px;
    padding: 20px;
    margin: auto;
    @include flexWrap();

    .policy-page__title, .policy-page__section, .policy-page__section-title, .policy-page__section-content-title{
        @include maxWidth();
    }

    .policy-page__title{
        font-size: 1.875em;
    }

    .policy-page__title, .policy-page__section-title, .policy-page__section-content-title{
        margin-bottom: 1.25em;
        font-weight: bold;
    }

    .policy-page__section{
        @include flexWrap();

        .policy-page__section-title{
            font-size: 1.5em;
        }

        .policy-page__section-content-title{
            font-size: 1.125em;
        }
    }

    @media screen and (min-width: 900px){
        padding-top: 75px;
        padding-bottom: 50px;

        .policy-page__title{
            margin-bottom: 2em;
        }
    }
}

textarea{
    resize: none;
}