<div class="pg-section section-categories col-md-10 p-3 mx-auto">
    <h2 class="widget-title pg-section__title">
        <span class="widget-title-span-container">
          <span>Shop By Categories</span>
        </span>
    </h2>
    <div>
        <a type="button" tabindex="-1" class="section-categories__category" *ngFor="let category of categories" [style.background-image] = "'url(' + category.imageUrl + ')'" >
            <div class="section-categories__btn-shop">Shop by {{ category.name }}</div>
        </a> 
    </div>
   
</div>