<div class="products-section">
    <div class="products-sect-header">
        <h2 class="products-section-title">Explore Our Products</h2>
    </div>
    <aside class="product-aside-sect">
        <div class="product-category-sect">
            <div class="category-list-mobile" *ngIf="isMobile">
                <select class = "text-capitalize" name="product-categories" id="product-categories">
                    <option value="0">All</option>
                    <option *ngFor="let cat of categories" value="cat.id">{{ cat.name }}</option>
                </select>
            </div>
            <ul class="category-list" *ngIf="!isMobile">
                <li class="category-list-item text-capitalize">
                    <a class="category-list-item-link active">all</a>
                </li>
                <li class="category-list-item text-capitalize" *ngFor="let category of categories">
                    <a class="category-list-item-link">{{ category.name }}</a>
                </li>
            </ul>
        </div>
    </aside>
    <div class="products-section-main">
        <shop-items [shopProducts] = 'products'></shop-items>
    </div>
</div>