@import './../app.component.scss';

$active: #E1005B;
$bgC: #C4C4C4;

.products-section{
    @include maxWidthFlexWrap();
    padding: 2em;

    .products-sect-header,.product-aside-sect, .products-section-main{
        @include maxWidthFlexWrap();
    }

    .products-sect-header{
        padding: 1em;
        .products-section-title{
            @include maxWidth();
            text-align: center;
            font-size: 1.5em;
            font-weight: 800;
            line-height: 37px;
            text-transform: uppercase;
            align-self: center;
        }
    }

    .product-aside-sect{
        .product-category-sect, .product-price-sect{
            @include maxWidth();
            margin: 1em auto;
        }
        
        .product-category-sect{
            padding: 1em;

            ul.category-list{
                list-style: none;

               .category-list-item{
                   font-size: 1em;
                   padding: 0 0.2em;
                   margin-top: 1em;
                   margin-bottom: 1em;

                  .category-list-item-link{ 
                      color: #000000;
                      &.active{
                        color: $active
                      }
                    }
               } 
            }
        }
    }

    .products-section-main{
        display: grid;
        grid-auto-rows: minmax(min-content, max-content);
        
        .pagination{
            width: 100%;
            border-radius: 10px;
            padding: 0.75em;
            box-shadow: 1px 1px 1px rgba($color: #000000, $alpha: 0.15), -1px -1px 1px rgba($color: #000000, $alpha: 0.15, );

            span.pagination-nav{
                $pd:1em;
                $py: $pd * 0.5;
                $px: $pd;
                padding: $py $px;
                cursor: pointer;
                transition: 0.2s ease-in;
                border-bottom: 1px solid transparent;
                margin: auto 0.5em;

                &.active{
                    background-color: $sophiePink;
                    color: $danger;
                    border-radius: 4px;
                    font-weight: bold;
                    cursor: default;

                    &:hover{
                        border-bottom: 1px solid transparent;
                    }
                }

                &:hover{
                    border-bottom: 1px solid $danger;
                }
            }
        }
    }

    @media screen and (min-width: 768px){
        padding: 3em 2.5em;
        display: grid;
        grid-template-rows: 100px auto;
        grid-template-columns: 150px auto;

        .products-sect-header{
            grid-row: 1/2;
            grid-column: 2/3;

            .products-section-title{
                text-align: center;
            }
        }

        .product-aside-sect{
            grid-row: 1/3;
            grid-column: 1/2;
        }

        .products-section-main{
            grid-row: 2/3;
            grid-column: 2/3;
        }
    }

    @media screen and (min-width: 1024px) {
        .products-sect-header{
            .products-section-title{
                font-size: 1.875em;
            }
        }
    }
}