<div class="forgot-password m-auto">
    <h2 class="col-sm-12 text-center py-2">Reset Password</h2>
    <div class="col-sm-12 py-3 bordered">
        <p class="col-sm-12 text-center info">We will send you an email to reset your password</p>
        <form action="" id="frm-forgot-password" class="d-flex flex-wrap" [formGroup]="forgotPassword" (ngSubmit) = "onSubmit()" required>
            <div class="form-group col-sm-12 p-0">
                <label class="sr-only" for="email">Email Address</label>
                <input type="email" formControlName="email" name="email" class="form-control" id="email" placeholder="Email Address" autocomplete="email" required>
                <em *ngIf="invalidEmail" style="color: red;">Enter an appropriate email</em>
            </div>
            <button type="submit" class="text-center col-sm-12 p-2" [disabled] = "forgotPassword.invalid || forgotPassword.pristine">Send Password reset email</button>
            <a [routerLink]='"/user/login"' class="forgot-pasword my-2 ml-auto text-dark">Remember Password?</a>
        </form>
    </div>
</div>
