@import './../../app.component.scss';

button.btn-viewMore{
    margin: 1em auto;
    padding: 1em 2em;
    text-transform: uppercase;

    @include invertOnHover();
}

.shared-wrapper{
    padding: 1em 0.5em;

    @media screen and (min-width: 575px){
        padding: 1em;
    }
}