<div class="about-page col-sm-12 d-flex flex-wrap">
    <div class="header col-sm-12 d-flex flex-wrap p-0">
        <div class="col-sm-12 col-md-10 col-lg-8 mx-auto pt-3">
            <h2 class="widget-title pg-section__title">
                <span class="widget-title-span-container">
                <span>About Us</span>
                </span>
            </h2>
            <p class="mb-0">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
        
    </div>
    <div class="col-sm-12 d-flex flex-wrap bg-Ash py-2 core-values">
        <h3 class="text-center text-capitalize col-sm-12">Our Core Values</h3>
        <div class="col-sm-12 col-xl-10 d-flex flex-wrap mx-auto">
            <div class="card">
              <div class="card-body text-center">
                <h5 class="card-title mx-auto">
                    <i class="far fa-gem p-0"></i>
                </h5>
                <h6 class="card-subtitle mb-2 mx-auto">Quality Products</h6>
                <p class="card-text mx-auto">
                    Lorem ipsum is the language of the true descendants of Zeus. It is meant to be only understood by gods amongst men. It was olympusly encrypted and blessed with bolts and the most peaceful substance of them all, water.
                </p>
              </div>
            </div>
            <div class="card">
              <div class="card-body text-center">
                <h5 class="card-title mx-auto">
                    <i class="fas fa-gifts p-0"></i>
                </h5>
                <h6 class="card-subtitle mb-2 mx-auto">Best Prices</h6>
                <p class="card-text mx-auto">
                Whoever said that the definition of insanity is doing the same thing over and over again and expecting different results has obviously never had to reboot a computer.
                </p>
              </div>
            </div>
            <div class="card">
              <div class="card-body text-center">
                <h5 class="card-title mx-auto">
                    <i class="fas fa-concierge-bell p-0"></i>
                </h5>
                <h6 class="card-subtitle mb-2 mx-auto">Impeccable Customer services</h6>
                <p class="card-text mx-auto">
                    If doctors were like software engineers, they would say things like “Have you tried killing yourself and being reborn?”
                </p>
              </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 d-flex flex-wrap">
        <div class="col-md-6 d-flex flex-wrap text-center py-3">
            <h3 class="col-sm-12 text-success text-uppercase">Our Mission</h3>
            <div class="col-sm-12">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
        <div class="col-md-6 d-flex flex-wrap text-center py-3">
            <h3 class="col-sm-12 text-success text-uppercase">Our Vision</h3>
            <div class="col-sm-12">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
    </div>
</div>
<newsletter-subscription></newsletter-subscription>