@import './../../app.component.scss';

form{
    color: #000;

    .form-group{
        input{
            &::placeholder{
                color: $placeHolderForm;
            }
        }
    }

    button[type='submit']{
        @include invertOnHover();
        font-size: 1.25em;
    }
}