/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/assets/fonts/proxima_nova_bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/proxima_nova_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Proxima Nova';
    src: url('/assets/fonts/proxima_nova_extrabold-webfont.woff2') format('woff2'),
         url('/assets/fonts/proxima_nova_extrabold-webfont.woff') format('woff');
    font-weight: bolder;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/assets/fonts/proximanova-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
  min-height: 100vh;
  background-color: #F5F4F4;
}

body{
    font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;
}

textarea{
    resize: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px #f5f5f5;
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background: #FFD9E8;
  transition: background 0.2s ease-in-out;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e83e8c;
}

::selection {
  background: #FFD9E8;
  color: #333;
}
