<div class="pg-section section-newsletter">
    <div class="text-center col-md-6 m-auto">
        <h2 class="pg-section__title col-sm-12">Dont miss on out new products</h2>
        <p class="col-sm-12">Get real time updates on our latest skin products on the go</p>
        <form class="form-inline frm-newsletter col-sm-12 mx-auto p-2" id="frm-newsletter-sub">
            <div class="col-sm-12 d-flex flex-wrap m-auto">
                <div class="form-group m-0 p-0 col-sm-9 d-flex">
                    <label class="sr-only" for="frm-newsletter__email">Email</label>
                    <input class="form-control col-sm-12" id="frm-newsletter__email" placeholder="Enter email address" type="text">
                </div>
                <button class="btn-primary m-0 px-2 col-sm-3" type="submit">Subscribe</button>
            </div>
        </form>
    </div>
</div>